@charset "UTF-8";

/* Abaixo, '*' é usado para configurar os estilos globais */
* {
    font-family: Arial, Helvetica, sans-serif;
    /* As duas primeiras são nomes de fontes e a última é uma fonte não serifada qualquer (genérica) */
}

body {
    background-image: linear-gradient(to left, #D9C8B4, #8C5637);
    /* gradiente */

    font-size: 16px;
    /*
    Medidas Absolutas
    cm, mm, in, px, pt, pc
    (centimetro, milimetro, polegada, pixel, ponto, paica)
    
    Medidas Relativas
    em, ex, vw, vh, %
    (relativo ao tamanho M da fonte, relativo ao tamanho X, view width, view height)

    tamanho padrão nos navegadores é 16px
    1em equivale a 16px
    */
}

main {
    background-color: white;
    
    border-radius: 10px;
    /* arredendamento da borda */

    box-shadow: -5px 5px 15px #400d0169;
    /* sombra do bloco.
    1° parâmetro: quanto a sombra vai andar para o lado
    2° parâmetro: quanto a sombra vai andar para baixo
    3° parâmetro: quanto a sombra vai espalhar
    4° parâmetro: cor da sombra */

    width: 600px;
    /* largura */

    padding: 20px;
    /* marge do texto e final do bloco */

    margin: auto;
    /* centraliza o bloco na tela independente do tam. da 
    janela */
}

/* usando o id para especificar o elemento */
h1#principal {
    color: #400D01;
    text-align: center;
    text-shadow: 1px 1px 2px #27080062;

    /* 
    shorthand font (encurtamento de código)
    font: font-style -> font-weight -> font-size -> font-family

    font-family: Arial;
    font-weight: bolder;
    font-size: 3em;
    font-style: italic;
    */
    font: italic bolder 3em Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 32px;
    color: #976241;
    text-shadow: -1px 1px 2px #352014;
}

h2 {
    color: #683f27;
}

/* uso de classes */
.basico {
    text-decoration: underline;
}

.avancado {
    text-decoration-line: overline;
}

.destaque {
    color: rgb(0, 0, 0);
    background-color: rgba(184, 135, 11, 0.486);
    
}

p {
    text-align: justify;
    text-indent: 20px;
    /* espaçamento do inicio do parágrafo */
}